azemourfactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "azemourfactory"
		},
		"publictransport_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'publictransport'"
		},
		"publictransport_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0927-072813-yqyxlp84"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/publictransport')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-451773365032434.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('publictransport_accessToken')]"
					},
					"existingClusterId": "[parameters('publictransport_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETL public transport')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "data generation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aazemour.ext@simplonformations.onmicrosoft.com/generation des donnne"
						},
						"linkedServiceName": {
							"referenceName": "publictransport",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "data generation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aazemour.ext@simplonformations.onmicrosoft.com/Batch Processing"
						},
						"linkedServiceName": {
							"referenceName": "publictransport",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "archivage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aazemour.ext@simplonformations.onmicrosoft.com/Archivage des Données"
						},
						"linkedServiceName": {
							"referenceName": "publictransport",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/publictransport')]"
			]
		}
	]
}